<web-app>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.app.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.app.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
</web-app>
